{% extends "base_generic.html" %}
{%block content%}
<form action="{% url 'vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>
            <h1>{{question.question_text}}</h1>
        </legend>
        <h2>{{question.description}}</h2>
        {%if pic%}
        <img src="{{question.pic.url}}" alt="" height="200">
        {%endif%}
        <br>
        {% if error_message %}<p><strong> {{error_message}}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
        <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label><br>
        {% endfor %}
        {{question.voters}}
    </fieldset>
<input type="submit" value="Vote">
</form>
{%endblock%}