{% extends "base_generic.html" %}


{%block content%}
{% if latest_question_list %}
<ul>
    {% if user.is_staff %}
        {% for question in latest_question_list %}
        <li><a href="{% url 'detail' question.id %}">{{question.question_text}} {{question.was_published_recently}}</a> </li>
        {% endfor %}
    {% else%}
        {% for question in latest_question_list %}
        {% if question.was_published_recently %}
        <li><a href="{% url 'detail' question.id %}">{{question.question_text}} {{question.was_published_recently}}</a> </li>
        {%endif%}
        {% endfor %}
    {%endif%}

</ul>
    {% else %}
     <p>
         Нет вопросов!
     </p>

{% endif %}
{%endblock%}